/* ======================    Font Family Begin      ======================= */
/* ======================    Font Family End      ======================= */
/* ======================    Color Begin      ======================= */
/* ======================    Color End      ======================= */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  list-style: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

@media screen and (min-width: 992px) {
  .text-lg-center {
    text-align: center !important;
  }
  .text-lg-left {
    text-align: left !important;
  }
}
@media screen and (min-width: 768px) {
  .text-md-center {
    text-align: center !important;
  }
}
@media screen and (min-width: 576px) {
  .text-sm-center {
    text-align: center;
  }
}
body {
  font-family: "Open Sans", sans-serif;
}

.btn {
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 14px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.btn.btn-danger {
  color: #fff;
  background: #ce1212;
}

/* ======================    Main Begin      ======================= */
.main section {
  padding-block: 60px;
}

/* ======================    Main Eng      ======================= */
/* ======================    Block Modal Begin      ======================= */
.block__modal {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.block__modal-title {
  font: 400 13px "Open Sans", sans-serif;
  color: #7f7f90;
}
.block__modal-subtitle {
  font: 48px "Amatic SC", sans-serif;
  color: #212529;
}
.block__modal-subtitle strong {
  color: #ce1212;
}

/* ======================    Block Modal End      ======================= */
/* ======================    Header Begin      ======================= */
.header {
  position: fixed;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-block: 27.5px;
  z-index: 999;
}
.header .logo {
  font-size: 28px;
  font-family: Inter, sans-serif;
  color: #212529;
  font-weight: bold;
}
.header .logo .logo-dots {
  color: #ce1212;
}
.header .navbar .nav-item {
  padding-inline: 20px;
}
.header .navbar .nav-item .nav-link {
  color: #7f7f90;
  font-size: 16px;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-inline: 3px;
  padding-block: 10px;
  position: relative;
}
.header .navbar .nav-item > .nav-link {
  position: relative;
}
.header .navbar .nav-item > .nav-link::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 0%;
  height: 2px;
  background: #ce1212;
}
.header .navbar .nav-item > .nav-link:hover::before {
  width: 100%;
}
.header .navbar .nav-item > .nav-link:hover {
  color: #212529;
}

.navbar .submenu-link {
  position: relative;
}

.submenu {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  top: 100%;
  -webkit-box-shadow: 0 0 5px 1px #eee;
          box-shadow: 0 0 5px 1px #eee;
  left: 10%;
  z-index: -999;
  background: #fff;
}
.submenu > li > a {
  padding-inline: 25px !important;
  display: block !important;
}

ul.submenu ul {
  top: 0;
  left: 100%;
}

.submenu-link:hover > .submenu {
  opacity: 1;
  -webkit-transform: translateY(10px) translateX(0px);
          transform: translateY(10px) translateX(0px);
  visibility: visible;
}

.menu-mobile {
  display: none !important;
}

/* ======================    Header end      ======================= */
/* ======================    Desc Begin      ======================= */
.desc {
  background: #eee;
  padding: 150px 0 50px;
}

/* ======================    Desc End      ======================= */
/* ======================    About Begin      ======================= */
.about {
  background: #fff;
}

/* ======================    About End      ======================= */
/* ======================    About Construct Begin      ======================= */
.about__construct {
  margin-top: 30px;
  height: 100%;
}
.about__construct-bg {
  position: relative;
}
.about__construct-bg img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__construct-block {
  position: absolute;
  width: 70%;
  text-align: center;
  bottom: 30px;
  margin-inline: auto;
  left: 0;
  right: 0;
  padding: 20px;
  background: #fff;
}
.about__construct-block-title {
  padding-bottom: 5px;
  font-size: 24px;
  color: #212529;
}
.about__construct-block-subtitle {
  padding-bottom: 16px;
  font-size: 28px;
}
.about__construct-block-subtitle a {
  color: #ce1212;
}
.about__construct-info {
  padding-left: 2.5rem;
}
@media screen and (max-width: 991px) {
  .about__construct-info {
    padding-left: 0rem;
  }
}
.about__construct-info-item {
  font: italic 16px "Open Sans", sans-serif;
  margin-bottom: 16px;
  color: #212529;
}
.about__construct-info-list {
  margin-bottom: 16px;
}
.about__construct-info-list > li {
  font: 16px "Open Sans", sans-serif;
  color: #212529;
  padding-bottom: 8px;
  position: relative;
}
.about__construct-info-list > li i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.3rem;
  color: #ce1212;
}
.about__construct-info-list > li > span {
  -webkit-margin-start: 28px;
          margin-inline-start: 28px;
  display: block;
}
.about__construct-info-normal {
  font-style: normal;
}

/* ======================    About Construct end      ======================= */
/* ======================    Enjoy Begin      ======================= */
.desc__left-title {
  font: 700 64px "Amatic SC", sans-serif;
  color: #37373f;
  margin-bottom: 20px;
}
.desc__left-subtitle {
  color: #4f4f5a;
  font-weight: 400;
  margin-bottom: 30px;
}
.desc__left-button {
  gap: 25px;
}
.desc__left-button i {
  width: 32px;
  height: 32px;
  font-size: 2.3rem;
  color: #ce1212;
  margin-right: 8px;
}
.desc__left-button span {
  font-size: 16px;
  font-weight: 600;
  color: #212529;
}

/* ======================    Why Choose Begin      ======================= */
.choose {
  padding: 80px 0 !important;
  background: #eee;
}
.choose__left-box {
  padding: 30px;
  background: #ce1212;
}
.choose__left-box h2 {
  color: #fff;
  font: 700 34px Inter, sans-serif;
  margin-bottom: 30px;
}
.choose__left-box p {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 30px;
}
.choose__left-box .btn {
  padding: 6px 30px 8px 30px !important;
  color: #fff;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: auto;
  display: block;
  font-size: 16px;
}
.choose__left-box .btn-danger {
  background: rgba(255, 255, 255, 0.3019607843) !important;
}
.choose__right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  padding: 40px 30px;
  border: 1px solid rgba(55, 55, 63, 0.1019607843);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
}
.choose__right-box-icon {
  -webkit-margin-after: 30px;
          margin-block-end: 30px;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(206, 18, 18, 0.1019607843);
  border-radius: 50%;
}
.choose__right-box-icon i {
  font-size: 2rem;
  color: #ce1212;
}
.choose__right-box h2 {
  font: 400 20px Inter, sans-serif;
  -webkit-margin-after: 30px;
          margin-block-end: 30px;
}
.choose__right-box p {
  margin-inline: 0 16px;
  font-size: 15px;
  color: #6c757d;
}
.choose__right-box:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 1199px) {
  .choose__right-box:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* ======================    Why Choose End      ======================= */
/* ======================    Clients End      ======================= */
.clients {
  padding-block: 100px !important;
  position: relative;
  z-index: 3;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5019607843)), to(rgba(0, 0, 0, 0.5019607843))), url("../images/stats-bg.jpg") no-repeat center/cover fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.5019607843), rgba(0, 0, 0, 0.5019607843)), url("../images/stats-bg.jpg") no-repeat center/cover fixed;
}
.clients p {
  color: rgba(255, 255, 255, 0.6);
  font: 700 16px Inter, sans-serif;
  padding: 30px;
}

/* ======================    Testimonials End      ======================= */
.border-right {
  border-left: 3px solid red;
  padding-left: 25px;
}

.testimonials {
  padding-block: 80px !important;
  background: #eee;
}

.testimonials-text {
  color: #212529;
  font-size: 16px;
  line-height: 1.5;
  font-style: italic;
  position: relative;
  margin-bottom: 16px;
}
.testimonials-text i {
  color: #f05656;
  font-size: 1.5rem;
  display: inline-block;
}
.testimonials-text i:nth-child(1) {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  margin-right: 10px;
}
.testimonials-text i:nth-child(2) {
  -webkit-transform: rotate(180deg) translate(20px, 25px);
          transform: rotate(180deg) translate(20px, 25px);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.testimonials-author {
  margin: 10px 0 5px 0;
  font: 700 20px Inter, sans-serif;
  color: #212529;
}

.testimonials-title {
  font: 500 14px Inter, sans-serif;
  color: #6c757d;
  margin-bottom: 10px;
}

.rating {
  color: #ffc107;
}
.rating i {
  margin-inline: 1px;
}

.founder {
  width: 196px;
  border-radius: 50%;
  border: 5px solid #fff;
}
@media screen and (max-width: 991px) {
  .founder {
    width: 408px;
  }
}

/* ======================    Testimonials End      ======================= */
/* ======================    Footer Begin      ======================= */
footer.footer {
  padding: 50px 0;
  background: #1f1f24;
}

.icons {
  position: relative;
}
.icons > .bx {
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  font-size: 1.5rem;
}

.footer__top {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
}
.footer__top h2 {
  margin-bottom: 8px;
  padding-bottom: 5px;
  padding-left: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.footer__top-menu {
  padding-left: 25px;
  margin-bottom: 16px;
}
.footer__top-menu-item {
  color: rgba(255, 255, 255, 0.7019607843);
  font-size: 14px;
}
.footer__top .social-icon {
  margin-top: 8px;
  padding-bottom: 5px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.footer__top .social-icon .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  cursor: pointer;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.7019607843);
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__top .social-icon .icon:hover {
  border-color: #fff;
  color: #fff;
}

.footer__bottom {
  margin-top: 30px;
  text-align: center;
}
.footer__bottom p {
  color: #fff;
  font-size: 14px;
}
.footer__bottom p + p {
  padding-top: 4px;
  font-size: 13px;
  display: block;
}

/* ======================    Footer End      ======================= */
/* ======================    Paties Begin      ======================= */
.paties {
  -webkit-margin-before: 30px;
          margin-block-start: 30px;
  background: url("../images/events-1.jpg") no-repeat center/cover;
  position: relative;
  z-index: 1;
  color: #fff;
}
.paties::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: #212529;
  opacity: 0.5;
  pointer-events: none;
  z-index: -1;
}
.paties__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
  padding-left: 40px;
  min-height: 600px;
  height: 100%;
  width: 95%;
}
.paties__block-title {
  font: 700 24px Inter, sans-serif;
  margin-bottom: 5px;
}
.paties__block-currency {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
  position: relative;
}
.paties__block-currency::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ce1212;
  width: 100%;
  height: 2px;
}
.paties__block-desc {
  font-size: 16px;
}

/* ======================    Event End      ======================= */
#chefs {
  background: #eee;
}

.section-article {
  margin-top: 30px;
}

.card {
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.card__top {
  position: relative;
}
.card__top-menu {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 0.3019607843);
  position: absolute;
  top: 30px;
  right: -70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
}
.card__top-menu-item {
  margin-inline: 5px;
}
.card__top-menu-item a {
  margin: 5px 10px;
  font-size: 24px;
  display: block;
  color: rgba(55, 55, 63, 0.4);
}
.card__bottom {
  text-align: center;
  padding: 10px 15px 20px 15px;
}
.card__bottom-title {
  font: 700 20px Inter, sans-serif;
  margin-bottom: 5px;
  color: #37373f;
}
.card__bottom-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: rgba(33, 37, 41, 0.4);
}
.card__bottom-desc {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  padding-top: 15px;
  color: rgba(33, 37, 41, 0.7019607843);
}
.card:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
@media screen and (max-width: 767px) {
  .card:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.card:hover .card__top-menu {
  right: 15px;
}
@media screen and (max-width: 991px) {
  .card {
    -webkit-margin-after: 30px;
            margin-block-end: 30px;
  }
}

/* ======================    Chefs End      ======================= */
.address__block-card {
  background: #f4f4f4;
  padding: 30px;
  height: 100%;
  margin-top: 15px;
}
.address__block-card i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  border-radius: 50%;
  background: #ce1212;
  color: #fff;
  width: 56px;
  height: 56px;
  padding: 1rem;
  margin-right: 15px;
}
.address__block-card-desc h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #6c757d;
}
.address__block-card-desc h4 {
  font-size: 14px;
  color: #212529;
  font-weight: normal;
}

.address__form {
  background: #fff;
  margin-top: 30px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.0784313725);
  padding: 24px;
}
.address__form textarea {
  height: 127px !important;
}
.address__form .input,
.address__form textarea {
  width: 100%;
  height: 48px;
  font-size: 14px;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  border: 1px solid #dee2e6;
}
.address__form .input:focus,
.address__form textarea:focus {
  outline: 1px solid #ce1212;
  border: 1px solid #ce1212;
}
.address__form .form {
  padding-bottom: 20px;
}
.address__form button {
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: 12px 40px !important;
  border-radius: 50px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

/* ======================    Contact End      ======================= */
.reservation {
  background: url("../images/reservation.jpg") no-repeat center/cover;
  min-height: 500px;
}

.gray {
  background: rgba(55, 55, 63, 0.0392156863);
}

.stateCont {
  padding-inline: 40px;
}
.stateCont textarea {
  min-height: 131px !important;
}
.stateCont input,
.stateCont textarea {
  width: 100%;
  height: 48px;
  margin-bottom: 24px;
  font-size: 14px;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  border: 1px solid #dee2e6;
}
.stateCont input:focus,
.stateCont textarea:focus {
  outline: 1px solid #ce1212;
  border: 1px solid #ce1212;
}
.stateCont button {
  display: inline-block;
  text-align: center;
  margin: auto;
  padding: 12px 40px !important;
  border-radius: 50px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

/* ======================    Book End      ======================= */
.construct-bg {
  background: url("../images/about.jpg") no-repeat center/cover;
  min-height: 750px;
}

@media screen and (max-width: 1285px) {
  .navbar {
    display: none !important;
  }
  .menu-mobile {
    display: block !important;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 991px) {
  .desc__left {
    margin-top: 20px;
  }
}
@media screen and (max-width: 640px) {
  .desc__left-title {
    font-size: 36px;
  }
}
.about__construct-info-play {
  position: relative;
  cursor: pointer;
}
.about__construct-info-play-circle {
  position: absolute;
  top: 50%;
  overflow: hidden;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: #ce1212;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__construct-info-play-circle::before, .about__construct-info-play-circle::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  display: block;
  border-radius: inherit;
}
.about__construct-info-play-circle::before {
  z-index: 5;
  background: rgba(255, 0, 0, 0.4);
}
.about__construct-info-play-circle::after {
  z-index: 1;
  border: 5px solid rgba(206, 18, 18, 0.7);
  -webkit-animation: play linear 2s infinite;
          animation: play linear 2s infinite;
}
.about__construct-info-play-circle i {
  font-size: 2.5rem;
  color: #fff;
  z-index: 5;
}

@-webkit-keyframes play {
  0%, 50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes play {
  0%, 50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */