body {
  font-family: $opensans;
}

.btn {
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 14px;
  width: max-content;
  &.btn-danger {
    color: #fff;
    background: $red;
  }
}

/* ======================    Main Begin      ======================= */
.main section {
  padding-block: 60px;
}
/* ======================    Main Eng      ======================= */

/* ======================    Block Modal Begin      ======================= */

.block__modal {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  &-title {
    font: 400 13px $opensans;
    color: $graylight;
  }
  &-subtitle {
    font: 48px $amatic;
    color: $black;
    & strong {
      color: $red;
    }
  }
}
/* ======================    Block Modal End      ======================= */

/* ======================    Header Begin      ======================= */
.header {
  position: fixed;
  background: #fff;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-block: 27.5px;
  z-index: 999;
  & .logo {
    font-size: 28px;
    font-family: $inter;
    color: $black;
    font-weight: bold;
    & .logo-dots {
      color: $red;
    }
  }
  .navbar {
    & .nav-item {
      padding-inline: 20px;
      & .nav-link {
        color: $graylight;
        font-size: 16px;
        font-weight: 600;
        transition: all 0.5s;
        width: max-content;
        padding-inline: 3px;
        padding-block: 10px;
        position: relative;
      }
      & > .nav-link {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: 5px;
          left: 0;
          transition: all 0.5s;
          width: 0%;
          height: 2px;
          background: $red;
        }
        &:hover::before {
          width: 100%;
        }
        &:hover {
          color: $black;
        }
      }
    }
  }
}
.navbar .submenu-link {
  position: relative;
}
.submenu {
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transform: translateY(-0px);
  top: 100%;
  box-shadow: 0 0 5px 1px #eee;
  left: 10%;
  z-index: -999;
  background: #fff;
  & > li > a {
    padding-inline: 25px !important;
    display: block !important;
  }
}
ul.submenu ul {
  top: 0;
  left: 100%;
}
.submenu-link:hover > .submenu {
  opacity: 1;
  transform: translateY(10px) translateX(0px);
  visibility: visible;
}
.menu-mobile {
  display: none !important;
}
/* ======================    Header end      ======================= */

/* ======================    Desc Begin      ======================= */
.desc {
  background: #eee;
  padding: 150px 0 50px;
}
/* ======================    Desc End      ======================= */

/* ======================    About Begin      ======================= */
.about {
  background: #fff;
}
/* ======================    About End      ======================= */

/* ======================    About Construct Begin      ======================= */
.about__construct {
  margin-top: 30px;
  height: 100%;
  &-bg {
    position: relative;
    & img {
      height: 100%;
      object-fit: cover;
    }
  }
  &-block {
    position: absolute;
    width: 70%;
    text-align: center;
    bottom: 30px;
    margin-inline: auto;
    left: 0;
    right: 0;
    padding: 20px;
    background: #fff;
    &-title {
      padding-bottom: 5px;
      font-size: 24px;
      color: $black;
    }
    &-subtitle {
      padding-bottom: 16px;
      font-size: 28px;
      & a {
        color: $red;
      }
    }
  }
  &-info {
    padding-left: 2.5rem;
    @media screen and (max-width: 991px) {
      padding-left: 0rem;
    }
    &-item {
      font: italic 16px $opensans;
      margin-bottom: 16px;
      color: $black;
    }
    &-list {
      margin-bottom: 16px;
      & > li {
        font: 16px $opensans;
        color: $black;
        padding-bottom: 8px;
        position: relative;
        & i {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 1.3rem;
          color: $red;
        }
        & > span {
          margin-inline-start: 28px;
          display: block;
        }
      }
    }
    &-normal {
      font-style: normal;
    }
  }
}
/* ======================    About Construct end      ======================= */

/* ======================    Enjoy Begin      ======================= */
.desc__left {
  &-title {
    font: 700 64px $amatic;
    color: $blackGray;
    margin-bottom: 20px;
  }
  &-subtitle {
    color: #4f4f5a;
    font-weight: 400;
    margin-bottom: 30px;
  }
  &-button {
    gap: 25px;
    & i {
      width: 32px;
      height: 32px;
      font-size: 2.3rem;
      color: $red;
      margin-right: 8px;
    }
    & span {
      font-size: 16px;
      font-weight: 600;
      color: $black;
    }
  }
}

/* ======================    Why Choose Begin      ======================= */
.choose {
  padding: 80px 0 !important;
  background: #eee;
  &__left {
    &-box {
      padding: 30px;
      background: $red;
      & h2 {
        color: #fff;
        font: 700 34px $inter;
        margin-bottom: 30px;
      }
      & p {
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
        margin-bottom: 30px;
      }
      & .btn {
        padding: 6px 30px 8px 30px !important;
        color: #fff;
        max-width: max-content;
        margin: auto;
        display: block;
        font-size: 16px;
      }
      & .btn-danger {
        background: #ffffff4d !important;
      }
    }
  }
  &__right {
    &-box {
      @include flex();
      flex-direction: column;
      background: #fff;
      padding: 40px 30px;
      border: 1px solid #37373f1a;
      transition: 0.3s;
      height: 100%;
      &-icon {
        margin-block-end: 30px;
        width: 64px;
        height: 64px;
        @include flex();
        background: #ce12121a;
        border-radius: 50%;
        & i {
          font-size: 2rem;
          color: $red;
        }
      }
      & h2 {
        font: 400 20px $inter;
        margin-block-end: 30px;
      }
      & p {
        margin-inline: 0 16px;
        font-size: 15px;
        color: #6c757d;
      }
      &:hover {
        transform: scale(1.1);
      }
      @media screen and (max-width: 1199px) {
        &:hover {
          transform: scale(1);
        }
      }
    }
  }
}
/* ======================    Why Choose End      ======================= */

/* ======================    Clients End      ======================= */
.clients {
  padding-block: 100px !important;
  position: relative;
  z-index: 3;
  background: linear-gradient(#00000080, #00000080),
    url("../images/stats-bg.jpg") no-repeat center/cover fixed;
  & p {
    color: #ffffff99;
    font: 700 16px $inter;
    padding: 30px;
  }
}
/* ======================    Testimonials End      ======================= */
.border-right {
  border-left: 3px solid red;
  padding-left: 25px;
}
.testimonials {
  padding-block: 80px !important;
  background: #eee;
}

.testimonials-text {
  color: $black;
  font-size: 16px;
  line-height: 1.5;
  font-style: italic;
  position: relative;
  margin-bottom: 16px;
  & i {
    color: #f05656;
    font-size: 1.5rem;
    display: inline-block;
  }
  & i:nth-child(1) {
    transform: translate(0px, 0px);
    transform-origin: top right;
    margin-right: 10px;
  }
  & i:nth-child(2) {
    transform: rotate(180deg) translate(20px, 25px);
    transform-origin: bottom right;
  }
}

.testimonials-author {
  margin: 10px 0 5px 0;
  font: 700 20px $inter;
  color: $black;
}

.testimonials-title {
  font: 500 14px $inter;
  color: #6c757d;
  margin-bottom: 10px;
}

.rating {
  color: #ffc107;
  & i {
    margin-inline: 1px;
  }
}

.founder {
  width: 196px;
  border-radius: 50%;
  border: 5px solid #fff;
  @media screen and (max-width: 991px) {
    & {
      width: 408px;
    }
  }
}
/* ======================    Testimonials End      ======================= */

/* ======================    Footer Begin      ======================= */
footer.footer {
  padding: 50px 0;
  background: #1f1f24;
}

.icons {
  position: relative;
  & > .bx {
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    font-size: 1.5rem;
  }
}

.footer__top {
  padding-bottom: 30px;
  border-bottom: 1px solid #ffffff1a;
  & h2 {
    margin-bottom: 8px;
    padding-bottom: 5px;
    padding-left: 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }
  &-menu {
    padding-left: 25px;
    margin-bottom: 16px;
    &-item {
      color: #ffffffb3;
      font-size: 14px;
    }
  }
  & .social-icon {
    margin-top: 8px;
    padding-bottom: 5px;
    column-gap: 10px;
    & .icon {
      @include flex();
      width: 40px;
      cursor: pointer;
      height: 40px;
      border: 1px solid #ffffff33;
      color: #ffffffb3;
      border-radius: 50%;
      transition: all 0.3s;
      &:hover {
        border-color: #fff;
        color: #fff;
      }
    }
  }
}

.footer__bottom {
  margin-top: 30px;
  text-align: center;
  & p {
    color: #fff;
    font-size: 14px;
  }
  & p + p {
    padding-top: 4px;
    font-size: 13px;
    display: block;
  }
}

/* ======================    Footer End      ======================= */

/* ======================    Paties Begin      ======================= */
.paties {
  margin-block-start: 30px;
  background: url("../images/events-1.jpg") no-repeat center/cover;
  position: relative;
  z-index: 1;
  color: #fff;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0.5;
    pointer-events: none;
    z-index: -1;
  }
  &__block {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 40px;
    padding-left: 40px;
    min-height: 600px;
    height: 100%;
    width: 95%;
    &-title {
      font: 700 24px $inter;
      margin-bottom: 5px;
    }
    &-currency {
      color: #fff;
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 15px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: $red;
        width: 100%;
        height: 2px;
      }
    }
    &-desc {
      font-size: 16px;
    }
  }
}
/* ======================    Event End      ======================= */
#chefs {
  background: #eee;
}

.section-article {
  margin-top: 30px;
}

.card {
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.3s;
  &__top {
    position: relative;
    &-menu {
      transition: all 0.3s;
      background: #ffffff4d;
      position: absolute;
      top: 30px;
      right: -70px;
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      &-item {
        margin-inline: 5px;
        & a {
          margin: 5px 10px;
          font-size: 24px;
          display: block;
          color: #37373f66;
        }
      }
    }
  }
  &__bottom {
    text-align: center;
    padding: 10px 15px 20px 15px;
    &-title {
      font: 700 20px $inter;
      margin-bottom: 5px;
      color: $blackGray;
    }
    &-subtitle {
      font-size: 14px;
      font-weight: 400;
      color: #21252966;
    }
    &-desc {
      font-style: italic;
      font-size: 14px;
      line-height: 26px;
      padding-top: 15px;
      color: #212529b3;
    }
  }
  &:hover {
    transform: scale(1.08);
  }
  @media screen and (max-width: 767px) {
    &:hover {
      transform: scale(1);
    }
  }
  &:hover .card__top-menu {
    right: 15px;
  }
  @media screen and (max-width: 991px) {
    margin-block-end: 30px;
  }
}
/* ======================    Chefs End      ======================= */
.address__block-card {
  background: #f4f4f4;
  padding: 30px;
  height: 100%;
  margin-top: 15px;
  & i {
    @include flex();
    font-size: 24px;
    border-radius: 50%;
    background: $red;
    color: #fff;
    width: 56px;
    height: 56px;
    padding: 1rem;
    margin-right: 15px;
  }
  &-desc {
    & h2 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 5px;
      color: #6c757d;
    }
    & h4 {
      font-size: 14px;
      color: $black;
      font-weight: normal;
    }
  }
}
.address__form {
  background: #fff;
  margin-top: 30px;
  box-shadow: 0 0 30px #00000014;
  padding: 24px;
  & textarea {
    height: 127px !important;
  }
  & .input,
  textarea {
    width: 100%;
    height: 48px;
    font-size: 14px;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    border: 1px solid #dee2e6;
    &:focus {
      outline: 1px solid $red;
      border: 1px solid $red;
    }
  }
  & .form {
    padding-bottom: 20px;
  }
  & button {
    display: inline-block;
    text-align: center;
    margin: auto;
    padding: 12px 40px !important;
    border-radius: 50px;
    font-size: 16px;
    font-family: $opensans;
  }
}
/* ======================    Contact End      ======================= */

.reservation {
  background: url("../images/reservation.jpg") no-repeat center/cover;
  min-height: 500px;
}

.gray {
  background: #37373f0a;
}

.stateCont {
  padding-inline: 40px;
  & textarea {
    min-height: 131px !important;
  }
  & input,
  textarea {
    width: 100%;
    height: 48px;
    margin-bottom: 24px;
    font-size: 14px;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    border: 1px solid #dee2e6;
    &:focus {
      outline: 1px solid $red;
      border: 1px solid $red;
    }
  }
  & button {
    display: inline-block;
    text-align: center;
    margin: auto;
    padding: 12px 40px !important;
    border-radius: 50px;
    font-size: 16px;
    font-family: $opensans;
  }
}

/* ======================    Book End      ======================= */

.construct-bg {
  background: url("../images/about.jpg") no-repeat center/cover;
  min-height: 750px;
}

@media screen and (max-width: 1285px) {
  .navbar {
    display: none !important;
  }
  .menu-mobile {
    display: block !important;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 991px) {
  .desc__left {
    margin-top: 20px;
  }
}

@media screen and (max-width: 640px) {
  .desc__left-title {
    font-size: 36px;
  }
}

.about__construct-info-play {
  position: relative;
  cursor: pointer;
  &-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: $red;
    border-radius: 50%;
    @include flex();
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 120%;
      height: 120%;
      display: block;
      border-radius: inherit;
    }
    &::before {
      z-index: 5;
      background: rgb(255 0 0 / 40%);
    }
    &::after {
      z-index: 1;
      border: 5px solid rgba(206, 18, 18, 0.7);
      animation: play linear 2s infinite;
    }
    & i {
      font-size: 2rem;
      color: #fff;
      z-index: 5;
    }
  }
}

@keyframes play {
  0%,
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
