@mixin flexbox($align, $justify) {
  display: flex;
  flex-wrap: wrap;
  align-items: $align;
  justify-content: $justify;
}

@mixin createLayout($size) {
  @for $i from 1 through 12 {
    .col-#{$size}-#{$i} {
      width: #{calc(100% / 12 * $i)};
      padding: 0 12px;
    }
  }
}
