*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

button {
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  list-style: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

@media screen and (min-width: 992px) {
  .text-lg-center {
    text-align: center !important;
  }
  .text-lg-left {
    text-align: left !important;
  }
}

@media screen and (min-width: 768px) {
  .text-md-center {
    text-align: center !important;
  }
}

@media screen and (min-width: 576px) {
  .text-sm-center {
    text-align: center;
  }
}