.align-items-start {
  align-items: start !important;
}

.align-items-center {
  align-items: center !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.d-flex {
  display: flex!important;
}
