/* ======================    Font Family Begin      ======================= */
$amatic: "Amatic SC", sans-serif;
$opensans: "Open Sans", sans-serif;
$inter: Inter, sans-serif;
/* ======================    Font Family End      ======================= */

/* ======================    Color Begin      ======================= */
$red: #ce1212;
$graylight: #7f7f90;
$black: #212529;
/* ======================    Color End      ======================= */
