@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

//Font Family
$amatic: "Amatic SC", sans-serif;
$opensans: "Open Sans", sans-serif;
$inter: Inter, sans-serif;
//Color
$red: #ce1212;
$graylight: #7f7f90;
$black: #212529;

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  list-style: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

@mixin flexbox($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

.align-items-start {
  align-items: start !important;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-inline: auto;
  padding: 0 15px;
}

.row {
  @include flexbox(center, space-between);
}

ul {
  list-style: none;
}

body {
  font-family: $opensans;
}

.main section {
  padding-block: 60px;
}

/* Block Modal */
.block__modal {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  &-title {
    font: 400 13px $opensans;
    color: $graylight;
  }
  &-subtitle {
    font: 48px $amatic;
    color: $black;
    & strong {
      color: $red;
    }
  }
}
/* Block Modal End */

/* Header */
.header {
  padding-block: 25px;
  & .logo {
    font-size: 28px;
    font-family: $inter;
    color: $black;
    font-weight: bold;
    & .logo-dots {
      color: $red;
    }
  }
  .navbar {
    @include flexbox(align-items, normal);
    & .nav-item {
      padding-inline: 20px;
      & .nav-link {
        position: relative;
        color: $graylight;
        font-size: 16px;
        padding-inline: 3px;
        font-weight: 600;
        transition: all 0.5s;
        display: inline-block;
        &::before {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          transition: all 0.5s;
          right: 0;
          display: block;
          width: 0%;
          height: 2px;
          background: $red;
        }
        &:hover::before {
          width: 100%;
        }
        &:hover {
          color: $black;
        }
      }
    }
  }
  & .btn {
    border-radius: 50px;
    padding: 8px 20px;
    font-size: 14px;
  }
  & .btn-danger {
    color: #fff;
    background: $red;
  }
}
/*Header end*/

/* Desc */

.desc {
  background: #eee;
}

/* Desc End */

/* About */
.about {
  background: #fff;
}

.about__construct {
  margin-top: 25px;
  &-poster {
    max-width: 57%;
    width: 100%;
  }
  &-bg {
    position: relative;
    & img {
      width: 100%;
      min-height: 500px;
      object-fit: cover;
    }
  }
  &-block {
    position: absolute;
    width: 70%;
    text-align: center;
    bottom: 30px;
    margin-inline: auto;
    left: 0;
    right: 0;
    padding: 20px;
    background: #fff;
    &-title {
      padding-bottom: 5px;
      font-size: 24px;
      color: $black;
    }
    &-subtitle {
      padding-bottom: 16px;
      font-size: 28px;
      & a {
        color: $red;
      }
    }
  }
  &-info {
    max-width: 43%;
    width: 100%;
    padding-left: 3rem;
  }
}
/* About End */
